*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 15px/1.5 Roboto, sans-serif;
}

body {
    background-image: url('../img/background.jpg');
}

body, button {
    font: inherit;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

svg {
    width: 50px;
    height: auto;
}

input {
    border-color: lightgray;
    border-radius: 2em;
    text-align: center;
    font-size: 2em;
}

h1 {
    font-size: 5em;
    padding: 1em;
    color: rgb(84, 81, 81);
}

h2 {
    font-size: 2em;
    padding-bottom: 0.5em;
    color: rgb(84, 81, 81);
}

button {
    min-width: 100px;
    min-height: 100px;
    padding: 1em;
    border-radius: 2em;
    border-color: transparent;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.wrapper {
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    background-color: rgb(256, 256, 256, 0.5);
    min-height: 100vh;
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: 3em;
}

.footer-text {
    margin-top: 2em;
    color: rgb(82, 77, 77);
}

button::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in;
}

button:hover::after {
    opacity: 1;
}